[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
requests = "*"
uuid = "*"
xmltodict = "*"
tripoli = "*"
arrow = "*"
argparse = "*"
tqdm = "*"

[requires]
python_version = "3"
